# Ignore venv & cached files
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore data & outputs

data/filtered_test/
data/filtered_train/
data/filtered_valid/
data/nsynth_raw/
data/filtered_audio/
data/processed_specs/
outputs/
data/json/
src/make_nb.py

# Ignore Jupyter junk
.ipynb_checkpoints/